<!-- Footer section -->
<footer>
    <div>
        Copyright &copy; 2025 - Student Forum&trade;<br>
        <span>
            Developed by <a href="https://github.com/sasindubm" target="_blank"><img src="img/github-icon.webp"
                    height="18" width="18" style="border-radius: 50%;"> sasindubm &raquo; </a>
        </span>
    </div>
</footer>
</body>

</html>