<!-- Footer section -->
<footer>
    Copyright &copy; 2025 - Student Forum&trade;<br>
    Developed by <a href="https://github.com/sasindubm" target="_blank"><img src="img/github-icon.webp" height="18"
            width="18" style="border-radius: 50%;"> sasindubm &raquo; </a>
</footer>
</body>
</html>