<%- include('components/header') %>

    <main>
        <!--content area-->
        <section id="content">
            <div class="card-container">
                <h2>Semester I</h2>
                <section id="sem1">
                    <div class="card" id="dbmsI">
                        <img src="img/db.png"><br>
                        DBMS-I<br>(Database Management Systems)
                        <script>document.querySelector('#dbmsI').addEventListener('click', function () {
                                window.location.href = 'p1.html';
                            });</script>
                    </div>
                    <div class="card" id="sad">
                        <img src="img/sad.png"><br>
                        SAD<br>(System Analysis and Design)
                        <script>document.querySelector('#sad').addEventListener('click', function () {
                                window.location.href = 'p2.html';
                            });</script>
                    </div>
                    <div class="card" id="gt">
                        <img src="img/graphic.png"><br>
                        Graphic Design<br>(Theory)
                        <script>document.querySelector('#gt').addEventListener('click', function () {
                                window.location.href = 'p3.html';
                            });</script>
                    </div>
                    <div class="card" id="gp">
                        <img src="img/graphic.png"><br>
                        Graphic Design<br>(Practicle)
                        <script>document.querySelector('#gp').addEventListener('click', function () {
                                window.location.href = 'p4.html';
                            });</script>
                    </div>
                    <div class="card" id="spt">
                        <img src="img/sp.png"><br>
                        Software Programming<br>(Theory)
                        <script>document.querySelector('#spt').addEventListener('click', function () {
                                window.location.href = 'p5.html';
                            });</script>
                    </div>
                    <div class="card" id="spp">
                        <img src="img/sp.png"><br>
                        Software Programming<br>(Practicle)
                        <script>document.querySelector('#spp').addEventListener('click', function () {
                                window.location.href = 'p6.html';
                            });</script>
                    </div>
                    <div class="card" id="empi">
                        <img src="img/emp.png"><br>
                        EMP-I<br>(Planning and Scheduling Work at Place)
                        <script>document.querySelector('#empi').addEventListener('click', function () {
                                window.location.href = 'p7.html';
                            });</script>
                    </div>
                </section>
                <br>
                <hr><br>
                <h2>Semester II</h2>
                <section id="sem2">
                    <div class="card" id="dbmsII">
                        <img src="img/db.png"><br>
                        DBMS-II<br>(Database Management Systems)
                        <script>document.querySelector('#dbmsII').addEventListener('click', function () {
                                window.location.href = 'p8.html';
                            });</script>
                    </div>
                    <div class="card" id="st">
                        <img src="img/sad.png"><br>
                        Software Testing
                        <script>document.querySelector('#st').addEventListener('click', function () {
                                window.location.href = 'p9.html';
                            });</script>
                    </div>
                    <div class="card" id="lant">
                        <img src="img/network.png"><br>
                        Local Area Network<br>(Theory)
                        <script>document.querySelector('#lant').addEventListener('click', function () {
                                window.location.href = 'p10.html';
                            });</script>
                    </div>
                    <div class="card" id="lanp">
                        <img src="img/network.png"><br>
                        Local Area Network<br>(Practicle)
                        <script>document.querySelector('#lanp').addEventListener('click', function () {
                                window.location.href = 'p11.html';
                            });</script>
                    </div>
                    <div class="card" id="webt">
                        <img src="img/web.png"><br>
                        Web Programming<br>(Theory)
                        <script>document.querySelector('#webt').addEventListener('click', function () {
                                window.location.href = 'p12.html';
                            });</script>
                    </div>
                    <div class="card" id="webp">
                        <img src="img/web.png"><br>
                        Web Programming<br>(Practicle)
                        <script>document.querySelector('#webp').addEventListener('click', function () {
                                window.location.href = 'p13.html';
                            });</script>
                    </div>
                    <div class="card" id="empii">
                        <img src="img/emp.png"><br>
                        EMP-II<br>(Planning and Scheduling Work at Place)
                        <script>document.querySelector('#empii').addEventListener('click', function () {
                                window.location.href = 'p14.html';
                            });</script>
                    </div>
                </section>
            </div>
        </section>
    </main>
    <script src="script/script.js"></script>

    <%- include('components/footer') %>