<%- include ('components/header') %>

    <main>
        <div>
            <h1>Login</h1>
            <form action="/login" method="POST">
                <div>
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit" name="submit">Login</button>
            </form>
            <div>
                <p>Don't have an account? <a href="/register">Register here</a></p>
                <p><a href="/forgot-password">Forgot Password?</a></p>
            </div>
        </div>
    </main>
    <style>
        footer {
            position: absolute;
        }
    </style>

    <%- include ('components/footer') %>