<%- include('components/header') %>

<main>
    <p>Here you can find the syllabus for the ICT Diploma NVQ5 course.</p>
    <p>Click on the link below to download the syllabus.</p>
    <a href="" download="syllabus.pdf">Download Syllabus</a>
</main>
<style>
    footer{
        position: absolute;
    }
</style>

<%- include('components/footer') %>