body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    text-align: center;
    height: max-content;
}

p {
    font-size: 1.2em;
    margin-top: 50px;
}

a {
    font-size: 1.2em;
    margin-top: 20px;
    text-decoration: none;
    color: #0000ff;
}

a:hover {
    color: #ff0000;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #181818;
        color: #f0f0f0;
    }

    a {
        color: #66aaff;
    }

    a:hover {
        color: #ff6666;
    }
}